html, body {
  background-color: #006666;
  }
  
  .container {
    color: #e6ffff;
    text-align: center;
  }
  
  .container h1 {
    font-size: 40px;
    color: black;
  }

  .container h2 {
    font-size: 23px;
    color: #DDCCEE;
  }

  .container h3 {
    font-size: 18px;
  }
  
  .container button {
    width: 70px;
    height: 30px;
    background-color: steelblue;
  }
  
  .container input {
    width: 250px;
    height: 25px;
    font-size: 15px;
  }
  
  .output {
    display: inline-block;
  }
  